[2018-11-20 05:36] sipofwater opened #287 "welcome email not received"
Hey Chingu's!

I didn't receive my welcome email today for the Winter Beta cohort but I did complete the beta form as was requested from the last email I received after being accepted.

Thanks!
Jake

[2018-11-20 07:28] ghost opened #288 "Did not receive receive an invite to the team's repo"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: bears-04
- Slack Name: Anass
- Timezone: UTC+1

**_Issue Description & Expected Outcome:_**
I am the only one in my team to yet receive an invitation to our repo.

[2018-11-20 09:33] tropicalchancer commented on #284
@ericmiller777 you were added and I just checked your invite is still pending.

Likely your github email is not the you normally check.

If you go to this URL it should fix it --> https://github.com/orgs/chingu-voyage7/

If it doesn't please let me know.

[2018-11-20 09:34] tropicalchancer commented on #288
Hi @Lunogen - you were added and I just checked your invite is still pending.

Likely your github email is not the you normally check.

If you go to this URL it should fix it --> https://github.com/orgs/chingu-voyage7/

If it doesn't please let me know.

[2018-11-20 09:35] #284 closed, assigned to tropicalchancer

[2018-11-20 09:35] #288 closed, assigned to tropicalchancer

[2018-11-20 09:36] tropicalchancer commented on #285
Hey @wiscombetom - that is no problem. He can join your team slack if he hasn't already and I'll send him an invite to the team repo.

[2018-11-20 09:44] tropicalchancer commented on #285
He's been added

[2018-11-20 09:44] #285 closed, assigned to tropicalchancer

[2018-11-20 09:46] tropicalchancer commented on #283
Hi @rrogerthat - thanks for reaching out. Please reach out to @stephen-codes in Slack to inquire if you can join his team. He made a ticket earlier saying they haven't gotten started yet so that could be a team to join.

If you do join, please make another ticket so I can add you to the github.

[2018-11-20 09:46] #283 closed, assigned to tropicalchancer

[2018-11-20 14:47] tropicalchancer commented on #287
Hey @sipofwater - were you able to fill out the application on beta? We sent the welcome emails to the emails that submitted that form.

Let me know and we'll figure it out! :)

[2018-11-20 14:48] tropicalchancer commented on #286
Hey @rpittell - can you let me know what welcome email you mean? 🙏

[2018-11-20 15:43] sipofwater commented on #287
I did and it looked like it submitted successfully.  I don't have a copy of it emailed to me but can't remember if that was an option  or not?

[2018-11-20 15:54] jasonmichaels opened #289 "Need Access to Geckos-Team-18 GitHub"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: geckos-team-18
- Slack Name: drunkenkismet
- Timezone: EST

**_Issue Description & Expected Outcome:_** Switched to (hopefully) the last/best team after a couple of false starts, but need access to the new team's GitHub

**_Symptoms:_** NA

**_Steps to Recreate:_** NA

**_Resolution:_** GitHub creds

[2018-11-20 16:06] anyajunior opened #290 "A teammember dropped out"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: toucans 17
- Slack Name: Anna B
- Timezone: UTC +3

**_Issue Description & Expected Outcome:_**
Hey, one of our teammates has just deactivated his account in Slack, having said nothing. Now there are two of us, and I believe we should have one more person!

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-11-20 16:10] jmaldia opened #291 "Need waffle integration approved"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Bears 11
- Slack Name: jon-maldia
- Timezone: NYC

**_Issue Description & Expected Outcome:_**
We need the waffle integration approved
![image](https://user-images.githubusercontent.com/1197551/48786336-aa495080-ecb4-11e8-99a2-4baa4eb9ee6b.png)

**_Symptoms:_**
NA

**_Steps to Recreate:_**
- Create a new project on Waffle
- Add Voyage 7 as a

[2018-11-20 16:20] ericmillersfbay commented on #284
Thank you.

[2018-11-20 16:52] tropicalchancer commented on #291
Hey @jmaldia thanks for reaching out. I approved waffle on this org 🍾

[2018-11-20 16:52] #291 closed, assigned to tropicalchancer

[2018-11-20 17:18] rrogerthat commented on #283
Hi Chance,

I reached out to @stephen-codes and will wait for his response. I noticed I
couldn't look up the 2 other members in the group to message. In case this
doesn't fall through, can I possibly start a project of my own for a
landing page?

Thank you,
Roger

On Tue, Nov 20, 2018 at 1:46 AM Chance <notifications@github.com> wrote:

[2018-11-20 17:33] rpittell commented on #286
The one with the slack details and other info for the start of the new voyage. Unless I just wasn't accepted?

[2018-11-21 08:49] tropicalchancer commented on #290
Hey @anyajunior - thanks for reaching out I will send a message in slack now.

[2018-11-21 09:01] tropicalchancer commented on #289
Added.

[2018-11-21 09:02] #290 closed, assigned to tropicalchancer

[2018-11-21 09:03] #282 closed, assigned to tropicalchancer

[2018-11-21 09:19] tropicalchancer commented on #287
Hey @sipofwater - I've made an issue in the beta feedback repo and tagged the backend team and you in that ticket. Please refer to there for this issue form now on. 🙏

[2018-11-21 09:21] tropicalchancer commented on #286
Hi @rpittell - just looked into it further and found the issue. You applied after we did admissions for Voyage-7 and the beta Voyage. You'll be considered for the next beta Voyage in a month or two and we'll reach out then to see if you're still interested.

Sorry for the confusion 🙏

[2018-11-21 09:22] #286 closed, assigned to tropicalchancer

[2018-11-21 09:22] #287 closed, assigned to tropicalchancer

[2018-11-21 16:57] wiscombetom opened #292 "Add member to GT2"
**_About You_**
- Voyage number (5 or 6):
- Team Name:
- Slack Name:
- Timezone:

**_Issue Description & Expected Outcome:_**

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-11-21 16:57] wiscombetom commented on #292
I don't know why its blank... member is Andres

[2018-11-21 16:58] wiscombetom commented on #292
Team is gecko team 2

[2018-11-21 21:19] tropicalchancer commented on #292
Thanks for reaching out -

@wiscombetom - just to clarify you want @andres to be added to the Geckos-Team-2 github repo?

[2018-11-21 21:20] andres commented on #292
just in case, you got the

wrong @andres

On 11/21/18 2:19 PM, Chance wrote:

[2018-11-21 21:22] wiscombetom commented on #292
Yes please, and added to our chat as well.
Thanks Chance!

On Wed, Nov 21, 2018, 4:19 PM Chance <notifications@github.com wrote:

[2018-11-22 11:01] tropicalchancer commented on #292
Added to the repo - and sent @wiscombetom info on how to add him to your team chat. Cheers! 🍾

[2018-11-22 11:01] #292 closed, assigned to tropicalchancer

[2018-11-22 23:53] lgainsbrook opened #293 "Geckos 12: inactive team member"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos 12
- Slack Name:  lgainsbrook
- Timezone: EST

**_Issue Description & Expected Outcome:_**
Team member, David -- Slack usename Dline215 -- showed up once to say hi, and hasn't been back for a week. We're happy to have him if someone is able to get in contact with him. Otherwise, we still have 3 team members, but could use a 4th if som

[2018-11-23 15:01] tropicalchancer commented on #293
Hey @lgainsbrook - thanks for reaching out. When another ticket opens up with someone looking for a team I'll let you know 🙏

[2018-11-25 04:38] chaudhryna opened #294 "GitHub Team access"
Hi. This is for or team
- Voyage number 7
- Team Name: Toucan-15
- Slack Name: @SavvasPamboukas
- Timezone: GMT1

**_Issue Description_**
He can’t access the GitHub Team site.

[2018-11-26 08:27] HixOba opened #295 "Geckos17: Team lost one member, need UI/UX person"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos 17
- Slack Name: HixOba
- Timezone: UTC+1

**_Issue Description & Expected Outcome:_**
Team member slack username Giftifytex hasnt turned up since first day hello's. It could be that Giftifytex is having difficulties signing in, dont know/not sure

Rest of team members struggling to cope, perhaps due to busy lives and capability issue

[2018-11-26 17:17] ReardGjoni commented on #293
Hello @lgainsbrook , Toucans team member with team issues here and looking for another one. I'd love to join and do my best in your team.

Ray

[2018-11-26 17:46] tropicalchancer commented on #294
Hi @chaudhryna - I just checked and you have been added and accepted your invite to the team repo.

Here is the repo link --> https://github.com/chingu-voyage7/Toucans-Team-15

[2018-11-26 17:46] #294 closed, assigned to tropicalchancer

[2018-11-26 17:47] tropicalchancer commented on #295
To anyone who sees this ticket, please feel to reach out to @HixOba if you think you could fill the role. 🙏

[2018-11-26 18:08] dirkduplooy opened #296 "Google Feedback Form not functioning as expected"
**_About You_**
- Voyage number (5 or 6):7
- Team Name: Toucans 2
- Slack Name: dirkduplooy@gmail.com
- Timezone: UTC+2

**_Issue Description & Expected Outcome:_**
Hallo @Chance it seems the Google Form will not submit and I filled in all the required fields twice and reloaded

@Chance it seems that it is expected that you fill in something in the last 3 response fields after We love to showcase

[2018-11-26 18:12] tropicalchancer commented on #296
hmm @dirkduplooy it might of been because it had a donation link in it. I recall you had issues last time because of this.

30 people have submitted it so far so it must be working. I removed the donation link so hopefully it will work for you soon.

[2018-11-26 18:28] Danman-01 opened #297 "I need a new team please, if possible"
**_About You_sss**
- Voyage number (5 or 6): It says Chingu Voyage number 7 on my slack channel.
- Team Name: geckos-team-16
- Slack Name: Dan
- Timezone: GMT+1

**_Issue Description & Expected Outcome:_** My team is inactive and has not replied to anything in our slack channel for several days. Please i would like to join a new team if possible!

**_Symptoms:_** Inactivity of team.

**_Steps to R

[2018-11-26 19:49] ReardGjoni commented on #297
Hello @Danman-01, Toucan member with similar team problems here. Although we are not on the same level I would love to create another team with you and other people who have the same problem and I would give my best to contribute.

Ray

[2018-11-26 20:02] dirkduplooy opened #298 "Lost Team Member/Merge with another Team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Toucans 02
- Slack Name: dirkduplooy
- Timezone: UCT+2

**_Issue Description & Expected Outcome:_**
We lost @Cristian Stefan due to personal problems and we also do not have a decision on a PM yet, I do not see my way open to be PM, if possible can you assign another member who would be interested in leading a team or merge us with a current

[2018-11-26 21:39] tiagocorreiaalmeida opened #299 "Looking for new teammates"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: bears-team-20
- Slack Name: Tiago Correia
- Timezone: WET

**_Issue Description & Expected Outcome:_**
We lost a team member last week and atm we are looking for 1-2 new team members to join us, those members should be bear level because of the complexity of the project.
**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-11-26 21:42] ReardGjoni commented on #298
Hello @dirkduplooy  Toucan member with similar team problems here. I'd love to come to your team and do my best to contribute

[2018-11-27 00:30] rachnaban commented on #299
Hi tiagocorreiaalmeida , I am currently a member of Bears-Team-27 but I am the only active member in the team, I work from IST Time Zone.Let me know if you can include me in your team. Currently I am developing some features of google drive using React.

[2018-11-27 05:08] chaudhryna commented on #294
Hi,

It wasn’t for me.  On of the other team members needed access, but I
figured out how to give him access so we’re back on track.

Thank you for following up and thank you so much for creating and working
on Chingu.  It’s a great idea!

Thanks again!

Nancy

On Mon, Nov 26, 2018 at 8:46 PM Chance <notifications@github.com> wrote:

[2018-11-27 12:23] #299 closed, assigned to nobody

[2018-11-27 16:03] willybeans opened #300 "Zenhub with chingu repo"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Bears-team-10
- Slack Name: willwedmedyk
- Timezone: est

**_Issue Description & Expected Outcome:_**
Trying to use zenhub for my chingu teams workflow. It is asking for permission to the repo but i do not have access to the chingu github account.

**_Symptoms:_**
Cannot access the repo when picking from a list of projects in zenhub.

**_Res

[2018-11-27 16:38] ghost commented on #300
I had this issue too when trying to make gitlab.com a remote. Of course, I can push the files manually, but it would be nice to have automatic sync.

[2018-11-27 19:29] dirkduplooy commented on #298
It seems @ReardGjoni is waiting on two other teams as well...

[2018-11-28 03:43] awalaja opened #301 "Can i be moved to another team?"
**_About You_**
- Voyage number (5 or 6):
- Team Name:
- Slack Name:
- Timezone:
@corleenx member of Toucans 18 team

**_Issue Description & Expected Outcome:_**
Team members are not collaborative. I and @sriram have actually agreed on a project and that is it. Communication ended.

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**
I need the team to be more collaborative and for member

[2018-11-28 17:38] tropicalchancer commented on #300
@willybeans your request has been accepted

[2018-11-28 17:38] tropicalchancer commented on #300
@barrycarter feel free to send a request

[2018-11-28 17:39] tropicalchancer commented on #298
@dirkduplooy @ReardGjoni - let me know what you guys decide and I'll make the necessary github changes. :)

[2018-11-28 17:40] tropicalchancer commented on #301
@awalaja feel free to look through the tickets and if a team suits you feel free to reach out and communicate with them.

If you end up finding a team, please make a ticket to let me know what team so I can make the necessary changes.

[2018-11-28 17:41] tropicalchancer commented on #297
Hey @Danman-01 @ReardGjoni - let me know what you guys decide and I'll make the necessary github changes. 🙏

[2018-11-28 17:42] #296 closed, assigned to tropicalchancer

[2018-11-28 17:42] #300 closed, assigned to tropicalchancer

[2018-11-28 18:05] dirkduplooy commented on #298
@tropicalchancer Ok spoke to @ReardGjoni and it seems he is still awaiting feedback from the two other teams he can possibly be included with

[2018-11-28 18:07] dirkduplooy commented on #298
@tropicalchancer
Ray [8:04 PM]
It's fine you can remove me from the team I don't want to keep you both waiting
It's fine
I'm looking for other teams anyway
So all the best to you both :grinning:

[2018-11-28 21:30] ReardGjoni commented on #301
Hello @awalaja , Toucan member with similar team problems here. I would love to create another team with you and @Danman-01 I would give my best to contribute.

Ray

[2018-11-29 08:51] HixOba commented on #295
Hi @tropicalchancer  i have @Anshul happy to work with us and be added to the team, but also wants to retain his current team, just in case, is that ok? Meantime we keep it open in case another person is in need.

[2018-11-29 08:56] Anshul2166 commented on #295
Hi @tropicalchancer  I am in bears-team-6 and am doing my work there, both as developer and as team lead. I saw @HixOba  post for another developer and would be happy to work with them, and my original team in parallel. I can assure you that I would be able to devote sufficient time to both projects.

[2018-11-29 17:03] tropicalchancer commented on #298
@dirkduplooy ok thanks - if you find anyone else to join the team or someone reaches out, let me know and I'll add that person to the repo 🙏

[2018-11-29 17:05] tropicalchancer commented on #295
Hi @Anshul2166 - sounds good you've been added to the geckos-team-17 repo 🍾

[2018-11-29 17:05] #295 closed, assigned to tropicalchancer

[2018-11-30 07:37] abduselamahmed opened #302 "join another team"
**_About You_**
- Voyage number 7:
- Team Name: bears-26
- Slack Name: malesa
- Timezone: UTC + 3

**_Issue Description & Expected Outcome:_**
only two of us are communicating on slack and the other member wants to work on java but I want to work on node so may be we can join other teams
**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-11-30 17:03] tropicalchancer commented on #302
@ethioAbduselam feel free to look through the tickets and if a team suits you feel free to reach out and communicate with them.

If you end up finding a team, please make a ticket to let me know what team so I can make the necessary changes.

[2018-11-30 20:44] ghost commented on #300
@tropicalchancer I think @willybeans' issue is identical to mine, and resolving this issue will resolve mine as well. No need to create a separate issue.

[2018-11-30 22:40] willybeans commented on #300
Hey barry, my issue has been resolved. if yours hasnt then perhaps you should make a ticket?

[2018-12-01 05:23] yuenwailok opened #303 "Inactive team member"
- Voyage number (5 or 6): 7
- Team Name: toucans-team-19
- Slack Name: ywl
- Timezone: (UTC+10:00)

I haven't heard from my team member more than a week and I am not sure if they still here.
#64

[2018-12-01 07:17] abduselamahmed commented on #293
Hey I'm from bears 26 team and if you haven't filled I can join you. Thanks!

[2018-12-01 10:08] HixOba commented on #293
@ethioAbduselam , if u need a ideas for a simple project to do, get in touch so i may give u an idea, if u like it and adopt it, it might become easier to find team mates to join you

[2018-12-01 12:32] abduselamahmed commented on #293
@HixOba please give me any idea

[2018-12-01 19:28] itaisteinherz opened #304 "Call for more people to join our team"
**_About You_**
- Voyage number: 7
- Team Name: Bears Team 22
- Slack Name: Itai
- Timezone: UTC+2

**_Issue Description & Expected Outcome:_**

One of the members of my team hasn't been active since the beginning of the cohort, and so we need more people to join our team and help with the development of our project.
If you're interested in making a pretty cool Q&A-style app and know your way arou

[2018-12-02 06:53] kalyantm opened #305 "Need to dropout of this cohort to catch up on some work stuff"
**_About You_**
- Voyage number (5 or 6):
- Team Name: geckos-20
- Slack Name: kalyantm
- Timezone: GMT + 5:30

**_Issue Description & Expected Outcome:_**
Need to leave this cohort
**_Symptoms:_**
Things are getting tough at work now and i need to move to another timezone and will be busy for a couple of months. Really sorry, but need to drop out of this one for concentrating at work and hopefull

[2018-12-02 13:03] tropicalchancer commented on #305
@kalyantm did you also let your team know you will be leaving? 🤔

[2018-12-02 13:04] tropicalchancer commented on #303
Thanks for reaching out. I would consider them gone then and continue without them.

If you would like to add another member to your team, feel free to look at other tickets here and reach out to someone. If you end up adding someone new, please make another ticket to let me know who to add to what repo.

[2018-12-02 13:05] #305 closed, assigned to tropicalchancer

[2018-12-02 14:10] IcyDrae opened #306 "Remove from old team, since new team is found"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: old team - toucans-12
- Slack Name: Reard Gjoni
- Timezone: UTC+1

**_Issue Description & Expected Outcome:_**
After having searched for a new team and established one with two other members(bears-team) I need to be removed from the old one.(toucans-team-12)

**_Symptoms:_**

**_Steps to Recreate:_**
**_Resolution:_**

[2018-12-03 02:12] ChauTran73 opened #307 "I haven't been invited on my team's github repo"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Gecko-10
- Slack Name: Cmtran7393
- Timezone: ETS

**_Issue Description & Expected Outcome:_**
I'm not in my team's github repo for Gecko-10

**_Symptoms:_** I can't edit user story and wiki

**_Steps to Recreate:_**

**_Resolution:_**

[2018-12-03 02:32] Danman-01 opened #308 "I have found a new team member, Please add Ray or ReardGjoni on github to the geckos team 16 repository"
**_About You_**
- Voyage number (5 or 6):
- Team Name: geckos-team-16
- Slack Name: Dan
- Timezone: GMT+1

**_Issue Description & Expected Outcome:_** My current team is extremely inactive, but thankfully we found a new member! ReardGjoni, nickname 'Ray' on Slack would like to join Geckos team 16, and gain access to the github repository.

**_Symptoms:_**

**_Steps to Recreate:_** Please add Ray o

[2018-12-03 02:33] Danman-01 commented on #301
Have you found a new team yet awalaja? If not please join Geckos team 16

[2018-12-03 13:45] #306 closed, assigned to nobody

[2018-12-03 14:01] darkula opened #309 "Anyone looking to use a java based backend project? See here!"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Bears-team-26
- Slack Name: Adamovics Oskars
- Timezone: UT+3

**_Issue Description & Expected Outcome:_**
There is no activity in our team.

**_Resolution:_**
Want to join to new team which use java based backend system.

[2018-12-03 18:03] vincentntang opened #310 "Need New Team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos
- Slack Name: Geckos Team 9
- Timezone: EST New York

**_Issue Description & Expected Outcome:_**
Team disbanded, looking to join another one

**_Resolution:_**
Looking to do frontend react-development, comfortable with using firebase

[2018-12-03 18:25] yaronshemeshnew opened #311 "Need new team"
**_About You_**
- Voyage number (5 or 6): 5
- Team Name: Yaron Shemesh
- Slack Name: yaronshemesh
- Timezone: GMT+2

I need a new team because in the team I'm at we're not making any progress and I would like to take part in another time or maybe next time.
Thank you very much.
**_Issue Description & Expected Outcome:_**

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-12-03 18:54] ahlvineet opened #312 "Inactive Team Member"
**_About You_**
- Voyage number (5 or 6):  7
- Team Name: Toucans-05
- Slack Name: vineet
- Timezone: GMT-5

**_Issue Description & Expected Outcome:_**
One of our team members is missing since last two week. (@varsha)
 & We would like to add @yaronshemesh to our team to get more development bandwidth.

Please Note:- I was not aware of the ticket system & added @yaronshemesh to our slack group wit

[2018-12-03 19:39] kj-gopika opened #313 "Inactive Team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Toucans
- Slack Name: KJ
- Timezone: GMT 5.30

**_Issue Description & Expected Outcome:_** Inactive team and members

**_Symptoms:_**No response from team members

**_Steps to Recreate:_**

**_Resolution:_**
Trying to learn new things on my own.

[2018-12-03 22:32] rrogerthat opened #314 "Need to be added to team to have access to github repo"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Toucans Team 8
- Slack Name: Roger H
- Timezone: Pacific Time (UTC-7)

**_Issue Description & Expected Outcome:_** Be added to team to be able to push to remote Github repository (https://github.com/chingu-voyage7/Toucans-Team-08)

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-12-04 16:14] tropicalchancer commented on #308
Wonderful @Danman-01 thanks for letting us know! Ray has been added to the Geckos-16 team repo!

[2018-12-04 16:29] tropicalchancer commented on #314
Hey @rrogerthat -thanks for making a ticket. You've been added :)

[2018-12-04 16:32] tropicalchancer commented on #312
Hey @ahlvineet - thanks for letting me know. @yaronshemesh has been added 🍾

[2018-12-04 16:35] tropicalchancer commented on #313
Hi @kj-gopika!

Sent a message in Slack with a possible new team :)

[2018-12-04 16:36] tropicalchancer commented on #309
Hey @darkula - thanks for reaching out. I've changed the title of the ticket to let others who may be interested know. I don't know of any teams using java, but maybe someone will reply here 🙏

[2018-12-04 16:38] tropicalchancer commented on #304
As your request @itaisteinherz - the person you requested has been added. :)

[2018-12-04 16:39] #304 closed, assigned to tropicalchancer

[2018-12-04 16:39] #308 closed, assigned to tropicalchancer

[2018-12-04 16:39] #311 closed, assigned to tropicalchancer

[2018-12-04 16:39] #312 closed, assigned to tropicalchancer

[2018-12-04 16:39] #314 closed, assigned to tropicalchancer

[2018-12-04 16:39] tropicalchancer commented on #307
Hi @ChauTran73 - I reached out in slack.

[2018-12-04 16:39] #307 closed, assigned to tropicalchancer

[2018-12-04 16:41] tropicalchancer commented on #297
Added the new member so will close this ticket.

[2018-12-04 16:42] tropicalchancer commented on #298
@dirkduplooy no activity on this ticket so I will close it.

If you are still looking for a new member, then please make another ticket and in the title explicitly state what you're looking for "tier one, timezone, project type, tech-stack

🙏

[2018-12-04 16:43] #297 closed, assigned to tropicalchancer

[2018-12-04 16:43] #298 closed, assigned to tropicalchancer

[2018-12-04 18:10] marcin-wicha opened #315 "Toucans-12 team folded"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Toucans-12
- Slack Name: Marcin Wicha
- Timezone: UTC+1

**_Issue Description & Expected Outcome:_**
Team has folded. One person left due to different expectations. Another left due to personal reasons.
**_Symptoms:_**
Can't continue
**_Steps to Recreate:_**

**_Resolution:_**
Assign to new team?

[2018-12-06 22:37] tomasmejia opened #316 "Collab access to Geckos-team-6"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: geckos-team-06
- Slack Name:  tomas
- Timezone:  UTC -3

**_Issue Description & Expected Outcome:_** After some tech issues with my laptop, I am finally back to and I can't push to my team's repo since I don't have collab permissions. I need said access to push.

**_Symptoms:_** N/A

**_Steps to Recreate:_** N/A

**_Resolution:_**  N/A

[2018-12-06 23:54] jdmedlock opened #317 "Toucans-02 open for new members"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Toucans-02
- Slack Name: dirkduplooy
- Timezone: UTC+2 (Cairo, Egypt)

**_Issue Description & Expected Outcome:_**
Dirk sent an email today indicating that his ADSL is out won't be fixed for 8 weeks. As a result he won't be able to continue this Voyage

**_Symptoms:_**
N/a

**_Steps to Recreate:_**
N/a

**_Resolution:_**
N/a

[2018-12-07 02:05] jdmedlock commented on #317
Please note that this team is accepting new members if any available. Assign a new member if one is available.

[2018-12-07 06:36] RoksySky opened #318 "Need a new team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos-20
- Slack Name: Anastasia
- Timezone: +2.00 (Kyiv timezone)

**_Issue Description & Expected Outcome:_**
I need a new team.

**_Symptoms:_**
Very low activity of my team. We still can't decide what to code and  I'm not sure we will. They respond for one message during 2 days. They don't respond even when I ask them to.

**_Resolution

[2018-12-07 17:17] tropicalchancer commented on #318
Hey @RoksySky - thanks for making a ticket. Please take a look at some of the open tickets and if a team suits you, feel free to reach out to them.

If you find a new team let me know and I'll add you to the appropriate github. 🙏

[2018-12-07 17:32] tropicalchancer commented on #310
Message sent in slack :)

[2018-12-07 17:32] tropicalchancer commented on #293
Member connected to team in slack. :)

[2018-12-07 17:33] tropicalchancer commented on #313
Hey @kj-gopika - you were given a new team but you have not been active 🤔

[2018-12-07 17:35] tropicalchancer commented on #316
Hey @tomasmejia!

Your invite was sent a few weeks ago and I just checked and it's still pending. You should be able to access by your email or by clicking this link :) --> https://github.com/chingu-voyage7

[2018-12-07 17:37] tropicalchancer commented on #318
Hey @RoksySky - I found a possible team for you. Please message @Lauren G in slack to let her know you'd like to join their team if they are open to it (she said they are looking for new members to join).

If you end up joining please make a ticket to let me know so I can add you to the github repo. :)

[2018-12-07 17:42] tropicalchancer commented on #303
There has been no activity on this ticket so I'll close it. If you are still looking for a new team and/or member please make another ticket with the title with the following format: "Toucan looking to build a project with someone or a new team"

[2018-12-07 17:44] tropicalchancer commented on #302
There has been no activity on this ticket so I'll close it. If you are still looking for a new team and/or member please make another ticket with the title with the following format: "Bear looking to build a project with someone or a new team"

[2018-12-07 17:44] #293 closed, assigned to tropicalchancer

[2018-12-07 17:44] #302 closed, assigned to tropicalchancer

[2018-12-07 17:44] #303 closed, assigned to tropicalchancer

[2018-12-07 17:44] #310 closed, assigned to tropicalchancer

[2018-12-07 17:44] #313 closed, assigned to tropicalchancer

[2018-12-07 17:44] #315 closed, assigned to tropicalchancer

[2018-12-07 17:44] #316 closed, assigned to tropicalchancer

[2018-12-07 17:44] #317 closed, assigned to tropicalchancer

[2018-12-07 17:44] #318 closed, assigned to tropicalchancer

[2018-12-07 17:44] tropicalchancer commented on #301
There has been no activity on this ticket so I'll close it. If you are still looking for a new team and/or member please make another ticket with the title with the following format: "Toucan looking to build a project with someone or a new team"

[2018-12-07 17:45] #301 closed, assigned to tropicalchancer

[2018-12-07 17:52] RoksySky commented on #318
Thanks  a lot @tropicalchancer!!! I will surely write to her!

[2018-12-07 19:04] marcin-wicha opened #319 "Please add me to Toucans-02"
Please add me to Toucans-02 repo.

[2018-12-08 10:09] ajaytdev opened #320 "Need a new team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Bears-27
- Slack Name: dumbwolf
- Timezone: +5:30(Kolkata)

**_Issue Description & Expected Outcome:_**
I need a new team.
**_Symptoms:_**
Very low activity of my team. We decided on what to code but still nobody responds and nobody is coding and pushing to github. Nobody responds to messages except 1.
**_Resolution:_**
Please find me a new

[2018-12-08 12:54] #319 closed, assigned to tropicalchancer

[2018-12-09 09:21] Ventrosky opened #321 "Inactive Team Members"
**_About You_**
- Voyage number 7:
- Team Name: Bears-Team-21
- Slack Name: @Ventrosky
- Timezone: UTC+1h

**_Issue Description & Expected Outcome:_**
One of our team members is absent from the second week (@Yusadolat)
Another team member has been absent for the entire last week (@ALF3run)

**_Symptoms:_**
No commitment to participate and be active

**_Steps to Recreate:_**

**_Resolution:_**
Remo

[2018-12-09 23:55] Danman-01 opened #322 "Is it possible to add a non-Chingu member to the team repository please?"
**_About You_**
- Voyage number (5 or 6): geckos-team-16
- Team Name: geckos-team-16
- Slack Name: Dan - Beingandsoul
- Timezone:

**_Issue Description & Expected Outcome:_**  Hi Chance, Is it possible to invite a non-Chingu member to the Github repository? I have found a potential new team member to replace some inactive ones. Is it possible to add him to the team repository please?

**_Symptoms:

[2018-12-10 14:22] ajaytdev commented on #321
hey is the spot still available ? I would like to work with you guys . two of  my team members are also inactive . I am good with js and bit intermediate in nodejs ecosystem .

[2018-12-10 19:52] abby-wankenobi opened #323 "Need new team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: geckos 11
- Slack Name: Abby.wankenobi
- Timezone: NYC (gmt-5)
.
**_Issue Description & Expected Outcome:_**

My team is having trouble finding time to talk and plan our project, we all seem to have very different schedules, so I'd like to join another team.

[2018-12-10 21:13] Ventrosky commented on #321
Hi there, the spot is still available, we can chat on slack or meet on discord If you want to know more about the project and see if you are interested 👍

[2018-12-10 21:17] Danman-01 commented on #322
My new team members Github is: https://github.com/ABODFTW

[2018-12-10 23:13] ajaytdev commented on #321
Cool , send me the details on slack . username: @dumbwolf  👍

[2018-12-11 02:32] SoniaTX opened #324 "Toucan Looking for New Team - please comment if you would like a new member :)"
**_About You_**
- Voyage number (7):
- Team Name: Toucans-7
- Slack Name:
- Timezone:

**_Issue Description & Expected Outcome:_**
My team has one totally inactive member and one member who already has other commitments ( job and school). My team is falling apart like crumbled cookies and not has been communicating for more than two weeks.

**_Resolution:_**
Since there was an apparent lack of res

[2018-12-11 14:41] jdmedlock commented on #289
From a Slack conversation this morning...

drunkenkismet [1:36 AM]
Hey, @Jim -- are all team members supposed to have the same privileges to the GitHub repo? My two remaining, active teammates have access I don't seem to have, and it's creating headaches since since I have to basically fork everything. Thanks in advance for clarifying this for me!

[2018-12-12 05:46] emmarm opened #325 "Seeking Team Member for Front End"
**_About You_**
- Voyage number: 7
- Team Name: Bears-30
- Slack Name: Emma M
- Timezone: me: GMT-7, others: GMT+8, GMT+11; best fit someone who can meet from GMT 7:00am.

**_Issue Description & Expected Outcome:_**
We've suddenly lost two team members. We're looking for someone to help with frontend React and/or design. We're a Bear team but a Toucan with React experience could easily jump into t

[2018-12-12 15:48] jasonmichaels commented on #289
Any word on this?

[2018-12-12 16:39] tropicalchancer commented on #323
Hey @abby-wankenobi - I recommend looking at this ticket https://github.com/Chingu-cohorts/voyage-wiki/issues/325 and commenting there to see if you can join that team.

If you end up joining please make another ticket to let me know who to add to what repo :)

[2018-12-12 16:39] tropicalchancer commented on #322
Yep, added :)

[2018-12-12 16:40] tropicalchancer commented on #321
@Ventrosky @ajayt365 please make another ticket if you need me to add anyone to a repo :)

[2018-12-12 16:47] #289 closed, assigned to tropicalchancer

[2018-12-12 16:47] #321 closed, assigned to tropicalchancer

[2018-12-12 16:47] #322 closed, assigned to tropicalchancer

[2018-12-12 16:47] #320 closed, assigned to nobody

[2018-12-13 06:27] abby-wankenobi opened #326 "Please add me to Bears-30"
Please add me (@abby.wankenobi) to Bears-30. Thanks!

[2018-12-13 13:49] sumitjoshi97 opened #327 "Add member to team Geckos-Team-23"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos-Team-23
- Slack Name: sj
- Timezone:  UTC+05:30

**_Issue Description & Expected Outcome:_**
Two of our team members are inactive, but we found a new member @tbhaxor. We would like to add @tbhaxor to our team Geckos-Team-23 and give access to our github repository.

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**
Please a

[2018-12-13 18:36] vwilcox27 opened #328 "Need to join a new Toucans team"
**_About You_**
- Voyage number (5 or 6): Voyage 7
- Team Name:  Toucans 08
- Slack Name: Peter Wilcox
- Timezone: MST

**_Issue Description & Expected Outcome:_**
Nobody is contributing to our project, and we have 1 person (who was invited to our team by another team member) who is being difficult on committing to the project that we originally decided on. This person constantly wants to clone a

[2018-12-14 00:43] mawarijo commented on #326
@tropicalchancer We'd be happy to take Abby. Please add her to our team, thanks!

closes #325

[2018-12-14 05:25] vwilcox27 commented on #324
I'm in the same boat SoniaTX. Want to collaborate?

[2018-12-14 11:24] #327 closed, assigned to nobody

[2018-12-15 07:47] emmarm commented on #325
Abby joined our team (#326)!

[2018-12-15 07:47] #325 closed, assigned to nobody

[2018-12-15 14:14] SoniaTX commented on #324
Yes. I was on Toucan Team Number 7. What team were you on?

On Thu, Dec 13, 2018 at 11:25 PM Peter Vance Wilcox <
notifications@github.com> wrote:

[2018-12-15 14:17] SoniaTX commented on #328
I would like to join you for a new team. Please let me know how we can proceed further.

[2018-12-16 01:59] SoniaTX commented on #324
I would like a new member to be joined.

[2018-12-16 14:01] nvamsikrishna05 opened #330 "Please add me to bears-team-21"
Hi,

I am joining bears-team-21. So, I would like to get added to their github account.

Thanks,
Vamsi

[2018-12-16 14:27] Ventrosky commented on #330
Please add @nvamsikrishna05 to our repo
https://github.com/chingu-voyage7/Bears-Team-21
:)

[2018-12-16 16:46] tropicalchancer commented on #330
@nvamsikrishna05 you've been added 🍾

[2018-12-16 16:47] #330 closed, assigned to tropicalchancer

[2018-12-16 16:48] tropicalchancer commented on #326
@abby-wankenobi added 🍾

[2018-12-16 16:48] #326 closed, assigned to tropicalchancer

[2018-12-16 16:49] tropicalchancer commented on #324
@vwilcox27 @SoniaTX please let me know if you decide to work together and what repo I should add someone to :)

[2018-12-17 02:29] SoniaTX commented on #324
Let meet on Slack forum and discuss what to do next. When will you be online on Slack?

[2018-12-17 14:47] sumitjoshi97 opened #331 "Add new member to Geckos-Team-23"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos-Team-23
- Slack Name: sj
- Timezone: GMT-5:30

**_Issue Description & Expected Outcome:_**
We are short on members as we are currently only 2 members working on project. But we found a new team member - Alex Nielson, github username - @bushbass to join our team.

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**
Please add

[2018-12-17 17:15] ajaytdev commented on #331
Do you guys have some backend working with javascript , nodejs ? If you do please give a shout out . I am also looking for a team as my team is completely inactive.

[2018-12-17 17:15] vwilcox27 commented on #324
@SoniaTX Sorry for the late response. It was a long weekend of Christmas parties :) . I was on Toucans 08 team. I'll be on slack all day (I'm on MST time which is GMT -7 I think), so feel free to contact me whenever it's convenient for you. My slack name is Peter Wilcox.

[2018-12-17 22:32] lgainsbrook opened #332 "Please add new team member to repo"
Please add vincent-tang to our geckos-12 GitHub team. Thanks!

[2018-12-18 00:55] SoniaTX commented on #324
Hi Chance,

I would like a new member ( Peter ) to join me.

[2018-12-18 01:06] vwilcox27 commented on #324
@tropicalchancer SoniaTX and I would like to continue with what Toucans 07 was creating :)

[2018-12-18 20:55] tropicalchancer commented on #332
Added! 🍾

[2018-12-18 21:00] tropicalchancer commented on #324
added! 🍾

[2018-12-18 21:04] #324 closed, assigned to nobody

[2018-12-18 21:04] #332 closed, assigned to tropicalchancer

[2018-12-18 23:27] jasonmichaels opened #333 "Team mostly MIA, need at least one new member to help get MVP out the door!"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos-Team-18
- Slack Name: drunkenkismet
- Timezone: EST

**_Issue Description & Expected Outcome:_**

Two of five teammates have been MIA since after the second/third week of this Voyage's launch due to work obligations. Remaining two teammates, aside from myself, are also busy or have expressed feeling unsure whether they can contribute.

[2018-12-21 00:32] vincentntang opened #334 "add me to geckos team 12"
**_About You_**
- Voyage number (5 or 6):
- Team Name:
- Slack Name: geckos-team 12
- Timezone: EST

**_Issue Description & Expected Outcome:_**

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2018-12-21 15:47] ptvbnk opened #335 "Remove me from team"
**_About You_**
- Voyage number (5 or 6):  7
- Team Name: Geckos - 22
- Slack Name: coder2213
- Timezone: UTC+5.30

**_Issue Description & Expected Outcome:_**
Unable to make time for project and lack tech skills.
Team also is mostly inactive.
Please remove me from this voyage.

**_Symptoms:_**
N/A

**_Steps to Recreate:_**
N/A
**_Resolution:_**
N/A

Thank you for the opportunity.
Definitely, will

[2018-12-21 16:07] janith-dev opened #336 "Remove me from team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos - 22
- Slack Name: JO
- Timezone: UTC +4;

**_Issue Description & Expected Outcome:_**

- The team is so inactive, No enough contribution commit there time and serious on working a project.
- Progress made so far is negligible when compared to project roadmap and timelines
- Project selected is too simple (From my personal perspective

[2018-12-24 15:50] #333 closed, assigned to nobody

[2018-12-24 15:59] jasonmichaels opened #337 "Request removal of inactive team members"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Geckos-Team-18
- Slack Name: drunkenkismet
- Timezone: EST

**_Issue Description & Expected Outcome:_**

Team, aside from myself, is inactive. I joined late, but I've completed most of the work across the front and back ends. I'm trying to recruit other Chinguers to help out 'cause the load is a bit much. However, I'm committed to seeing thi

[2018-12-24 16:09] jasonmichaels commented on #336
Hey, @JoleDev -- are you looking to possibly join another cohort? My team is inactive, but I've been pushing ahead anyways. I had no experience with Redux, MongoDB, or Node prior to this, but I've completed a good portion of the front and back ends. Here's my repo: https://github.com/chingu-voyage7/Geckos-Team-18, as well as the deployed Heroku app: https://lit-ridge-25934.herokuapp.com/auth/login

[2018-12-27 21:15] tropicalchancer commented on #334
@vincentntang your invite has been pending for a few weeks.

https://github.com/chingu-voyage7

[2018-12-27 21:20] #334 closed, assigned to tropicalchancer

[2018-12-27 21:20] #335 closed, assigned to tropicalchancer

[2018-12-27 21:20] #336 closed, assigned to tropicalchancer

[2018-12-27 21:20] #337 closed, assigned to tropicalchancer

[2018-12-27 21:21] tropicalchancer commented on #323
No one has reached out on this ticket so will close it 🙏

[2018-12-27 21:21] #309 closed, assigned to tropicalchancer

[2018-12-27 21:21] #323 closed, assigned to nobody

[2019-01-07 01:25] crystalbohacek opened #338 "Please add me as a member to Bears 21 team"
**_About You_**
- Voyage number (5 or 6): 7
- Team Name: Bears-team-01
- Slack Name:
- Timezone:

**_Issue Description & Expected Outcome:_** I would like to join Bears team 21 and also remain a member of Bears team 01.

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**

[2019-01-08 12:14] tropicalchancer commented on #338
Done!

[2019-01-08 12:14] #338 closed, assigned to tropicalchancer

[2019-01-08 12:16] #328 closed, assigned to nobody

[2019-01-08 12:16] #331 closed, assigned to nobody

[2019-03-11 12:34] maaqoul opened #339 "this is a test !?"
**_About You_**
- Voyage number (e.g. 8):
- Team Name:
- Slack Name:
- Timezone:

**_Issue Description & Expected Outcome:_**

**_Symptoms:_**

**_Steps to Recreate:_**

**_Resolution:_**
<To be completed by Chingu-X team>

[2019-03-11 12:41] #339 closed, assigned to nobody

[2019-03-13 14:10] jdmedlock opened #340 "No update privilege on team Github Repo (**EXAMPLE ISSUE**)"
**_About You_**
- Voyage number (e.g. 8): 8
- Team Name: Geckos-Team-08
- Discord Name: jdmedlock
- Timezone: GMT -5

**_Issue Description & Expected Outcome:_**
Unable to fork and edit files in my teams repo --> https://github.com/chingu-voyages/v8-geckos-team-08

**_Symptoms:_**
<Error messages and screenshots are a great way to communicate the symptoms>
![image](https://user-images.githubuserco

[2019-03-14 08:51] etorres07 opened #341 "Unable to pin messages in team's channel"
**_About You_**
- Voyage number (e.g. 8): 8
- Team Name: chimeras-team-02
- Discord Name: Ed
- Timezone: UTC+1

**_Issue Description & Expected Outcome:_**
I am unable to pin messages to my chimeras-team-02 channel. I would expect to be able to pin others' and my messages for the benefit of the team.

**_Symptoms:_**
<img width="129" alt="pin" src="https://user-images.githubusercontent.com/3819333

[2019-03-14 12:24] jdmedlock commented on #341
Pinning messages requires the "Manage Messages" permission which also allows members of the channel to delete one another's messages. Unfortunately, there is no finer grained permission that only grants the ability to just pin messages. Due to this, we decided not grant this permission.

Will leave ticket open while reviewing this decision.

[2019-03-14 13:29] jdmedlock commented on #341
Granted this permission for this team. Closing ticket, but reopen if there are any issues.

[2019-03-14 13:29] #341 closed, assigned to nobody

[2019-03-14 20:40] hanacaraka opened #342 "Unable to add myself as a contributor to my team's repo"
**_About You_**
- Voyage number: 8
- Team Name: TOUCANS-TEAM-11
- Discord Name: Eri Hariono
- Timezone: GMT +7

**_Issue Description & Expected Outcome:_**
I'm not sure how to do this (I've already searched in YouTube, but so far nothing explain this thing as a team member for GitHub workflow).

How do we add ourselves as a contributor into my team's repo in Chingu GitHub?
https://github.com/ching

[2019-03-14 23:29] jdmedlock commented on #342
You should have received an email notification for your GitHub repo that contains a link you'll need to click. If you didn't receive the email check your junk mail folder.

[2019-03-14 23:40] the-vampiire opened #343 "test"
**_About You_**
- Voyage number (e.g. 8):
- Team Name:
- Discord Name:
- Timezone:

**_Issue Description & Expected Outcome:_**
<Briefly tell us what the issue is, what you expected, and it's impact so we can properly prioritize it.>

**_Symptoms:_**
<Error messages and screenshots are a great way to communicate the symptoms>

**_Steps to Recreate:_**
<If applicable, what were the steps you perfor

[2019-03-14 23:55] #343 closed, assigned to nobody

[2019-03-15 00:00] the-vampiire commented on #342
![Screen Shot 2019-03-14 at 7 57 50 PM](https://user-images.githubusercontent.com/25523682/54399164-92e30880-4693-11e9-9359-34fb84b266d5.png)

@hanacaraka your invitation is still pending. if you go to [chingu-voyages](https://github.com/chingu-voyages) you will see the invite at the top of the screen.

you should also check which email address you have set as your primary email on github. in the

[2019-03-15 02:59] hanacaraka commented on #342
Thanks @jdmedlock & @the-vampiire ! My issue already resolved now.

[2019-03-15 02:59] #342 closed, assigned to tropicalchancer

[2019-03-15 08:08] etorres07 commented on #341
No issues here but just wanted to let you know, in case it is relevant, that some of my team members had the ability to pin messages before I opened this issue. Perhaps this information is useful if you are trying to keep these permissions under control. Thanks once again.

[2019-03-16 06:05] the-vampiire commented on #341
@eduardoltorres thanks man we sorted that out now

[2019-08-01 18:46] ghost opened #344 "I didn’t receive Voyage 11 pre-work pack"
Email: calogero.napoli92@gmail.com

[2019-08-01 19:11] jdmedlock commented on #344
Assigned to Chance. However, the Voyage 11 materials will not go out until August 2nd.

[2019-08-01 19:30] ghost commented on #344
Ok, thank you. I’ll wait.

[2019-08-02 10:13] tropicalchancer commented on #344
Hi @CalogerN! Your Prep-pack was sent out.:) Please check your spam folders if you haven't seen it yet.

[2019-08-02 10:13] #344 closed, assigned to tropicalchancer

[2019-09-01 17:10] etorres07 opened #345 "Make a cozier Discord"
**_About You_**
- Discord Name: ed

**_Description & Expectation:_**
As per my discussion wit @jdmedlock, I humbly bring forward a suggestion to make the Chingu Discord server a tad cozier for the participants.

**_Caveat:_** this suggestion only applies if returning Chingu to Slack is not an option. I elaborate. The supermajority of Chingu participants are looking for a web developer job. Slack i

[2019-09-01 17:20] jdmedlock commented on #345
Thanks for your suggestions. We'll take a close look at these in the coming days to see which ones we can implement. The only issue I see at this time is using roles to assign personal attributes. Instead, I suggest using the `Note` option in your Discord profile for this. For example, I set mine to:
[code]
See following comment from Ed. Making profile notes visible to everyone is a feature reques

[2019-09-01 17:32] etorres07 commented on #345
Thanks for the quick reply. From what I understand, those notes are only visible to the author of the note. I too once thought that it was public.

[2019-09-01 17:32] jdmedlock commented on #345
Highlighted Facilitators roles in yellow

[2019-09-01 18:03] jdmedlock commented on #345
Status. Added emoticons to Voyage channels. Will followup adding to other channels later. Note that emoticons should *NOT* be added to channels like the team channels which are processed by Chingu-X 'bot until further testing is completed.

[2019-09-01 18:11] jdmedlock commented on #345
Question. Since Discord DM's can be used for voice what is the use case for a separate voice channel? Do you mean two channels for each Team or general chat for everyone?

[2019-09-01 19:22] etorres07 commented on #345
Awesome for the color and emojis!

For the voice channel, this would be the equivalent of the community chat but voice version.

For example, one voice channel called "general-voice" where people just join and leave as they please, there's no need to generate a call. In here, they discuss general topics over voice. Some people might be able to listen but not participate and there can be a correspo

[2019-09-02 13:04] jdmedlock commented on #345
Unfortunately, adding animated emoji isn't something we can do at this time since it requires Nitro Boosters which require an additional annual fee. However, we will look at adding additional non-animated emoji.

[2019-09-03 00:50] jdmedlock commented on #345
Added the following static (i.e. non-gif) emojis:
:partywizard:
:laptop_parrot:
:confusedparrot:
:githubparrot:
:evilparrot:
:coffeeparrot:
:SkullnCrossbones:

[2019-09-17 12:44] jdmedlock commented on #345
Placing this issue in hold status until we can identify funding for Nitro and determine if the cost justifies the benefits.

[2019-09-17 19:07] etorres07 commented on #345
@jdmedlock sorry for the delay and thank you for the implementations. I've been enjoying them for a while now :)

Regarding Nitro, it is to my understanding that members of the server who are Nitro can contribute "Nitro gems" (or something like that) and it doesn't cost them anything.

Also, if I may ask, why is the personal roles assignation an issue? This is pure curiosity as I have no idea how

[2019-09-17 20:20] jdmedlock commented on #345
I'm glad you asked these questions @eduardoltorres.
1. I haven't see a free option for [Nitro](https://discordapp.com/nitro), even with contribution of functions or features. The base cost of Nitro ranges from USD$4.99-9.99 per month per user.
2. Using roles as a form of profile is an interesting concept and one that would be applicable in a smaller community. The constraint I'm concerned with is

[2020-02-21 20:58] jdmedlock commented on #345
Closing due to age. Will reopen if needed

[2020-02-21 20:58] #345 closed, assigned to nobody

[2020-02-21 21:25] RavalVarun opened #346 "Text color difference on Handbook"
**_About You_**
- Facilitator
- Discord Name: VarunR
- Timezone:

**Header Text color on Dark Mode**
Header text on the handbook isn't readable while reading in dark mode.

**_Symptoms:_**
The text color in the header makes the header slightly darker and unreadable.
![image](https://user-images.githubusercontent.com/44644972/75072714-0a393300-54c6-11ea-8e5f-21b306117cb4.png)

**_Steps to Recreate:

[2020-02-21 21:50] jdmedlock commented on #346
Thanks for reporting this! This is acknowledged as a bug and steps are underway to correct it. A staged version with the correction will be made available to you prior to moving the fix into Production.

[2020-02-22 13:18] jdmedlock opened #347 "Users on slower connections have no indication that Handbook pages are loading"
**_About You_**
- Discord Name: jim_medlock
- Timezone: GMT -6 (Chicago)

**_Issue Description & Expected Outcome:_**
The absence of a page loading indicator in the Voyage and Prospective Chingu Handbooks makes users think that the links to these are dead on slower connections.

**_Symptoms:_**
Page doesn't immediately display or renders slowly.

**_Steps to Recreate:_**
Use Chrome DevTools Audit

[2020-03-03 18:03] jdmedlock commented on #346
Updates to fix this and broken links in the Pair Programming section have been resolved and promoted to Production.

[2020-03-03 18:03] #346 closed, assigned to jdmedlock

[2020-03-03 18:05] jdmedlock commented on #347
Status update. Lazy loading along with a page loading indicator is in the process of being added.

[2020-04-11 17:57] SebFine opened #348 "Broken links on "Get started""
**_About You_**
- Voyage number (e.g. 8): 19
- Team Name: -
- Discord Name: Zwuckel87
- Timezone: GMT +1

**_Issue Description & Expected Outcome:_**
<Briefly tell us what the issue is, what you expected, and it's impact so we can properly prioritize it.>

After signing up on my profile page, there are 2*3 elements with headlines "Getting started" and "Ressources" Two elements, containing the link

[2020-04-11 19:17] jdmedlock commented on #348
Thank you for reporting this. We have a fix for this and an update to the voyage schedule on the Chingu.io page.

[2021-05-11 20:41] ChristopherJMartin opened #349 "Cannot find my invitation sent from my group"
Hello,

For some reason, I'm not seeing my invitation to a GitHub repo from my team member. Here's the link:

https://github.com/vleong1/modeling_earthquake_damage/invitations

My github username is ChrisJMartin1212. It has been resent multiple times. My email is public.

Help!

Chris Martin

[2021-05-11 21:15] jdmedlock commented on #349
Hi @ChristopherJMartin Was this for a particular Chingu Voyage? The link you've provided is outside our organization and it doesn't appear to be valid. It's not a repo for one of our Voyages so I'm unable to help at this time.